* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("img/background img.png");
    background-repeat: no-repeat;
    background-color: saddlebrown;
    background-size: cover;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 58px;
    position: relative;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
    transition: color 0.3s ease-in;
}

.exit a:not(.exit){
    font-size: 14px;
    font-weight: 400;
}

.header-icons {
    width: 126px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 750px;
}

.header-icons::after {
    content: " ";
    position: absolute;
    opacity: 0.50;
    background-color: rgba(255, 255, 255, 0.90);
    height: 20px;
    top: 2px;
    left: 160px;
    width: 1px;
}

.exit {
    color: white;
    font-size: 14px;
}

.header-icons:hover svg,
 a:hover {
    color: #01813F;
    cursor: pointer;
}

.signup-section {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 444px;
    height: 612px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.sign-up {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.square {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.sign-up h1 {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    padding-left: 43px;

}

.log-in {
    color: #3CB878;
    font-size: 14px;
    padding-left: 212px;
    font-weight: 400;
    transition: color 0.3s ease-in;
}

.log-in:hover {
    color: #01813F;
    text-decoration: underline;
}

.login-buttons {
    display: flex;
    list-style: none;
    padding: 0 60px;
}

.login-buttons li {
    margin-right: 4px;
}

.vertical-line {
    width: 1px;
    height: 28px;
    opacity: 0.10;
}

.line-1 {
    background-color: #0A162F;
}

.line-2 {
    background-color: #2B0D09;
    margin-right: 30px;
}

.login-button p {
    font-size: 16px;
    font-weight: 400;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    transition: color 0.3s ease-in;
}

.facebook {
    background-color: #305DB8;
}

.google {
    background-color: #DF4A32;
}

.login-button.facebook:hover  {
    background-color: #022263;
}

.login-button.google:hover {
    background-color: #AB1F09;
}

input {
    width: 322px;
    height: 44px;
    margin-bottom: 16px;
    border-radius: 3px;
    border: 1px #F2F2F2 solid;
    padding-left: 20px;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
}

input:hover {
    transition: all 200ms ease-in;
    border: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.19);
}

input::placeholder {
    color: #BEBEBE;
}

input[type="checkbox"] {
    position: absolute;
    display: none;
}

.check-box {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #F2F2F2;
    border-radius: 2px;
}

input[type="checkbox"]:checked + .check-box {
    background-image: url("img/Vector 1.svg");
    width: 16px;
    height: 16px;
}

.checkbox-text .checkbox-text-green {
    font-size: 14px;
    font-weight: 400;
}

.checkbox-text {
    color: #434343;
    margin-left: 26px;
}

.checkbox-text-green {
    color: #3CB878;
    transition: color 0.3s ease-in;
}

.checkbox-text-green:hover {
    text-decoration: underline;
    color: #01813F;
}

fieldset {
    border: none;
    border-top: 1px solid #F2F2F2;
    margin: 0 38px;
}

legend {
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

button {
    width: 324px;
    height: 48px;
    background: rgba(60, 184, 120, 0.80);
    border-radius: 4px;
    border: none;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s ease-in ;
}

button:hover {
    background-color: #01813F;
}